body{
    background-image: url(462766.jpg);
    background-size: cover;
}

h2{
    position: absolute;top: 90px;left: 14%;
    margin-top: 10px;
  
}

.p2{
    margin-top: 65px;
    margin-left: -10px;
    font-size: 15px;
    font-family: cursive;
    color: rgb(77, 27, 72);

}
.p3{
    position: absolute;top: 430px;left: 0%;
    font-size: 15px;
    border: 1px solid rgba(85, 80, 80, 0.452);
    border-radius: 10px;
    background-color: rgba(145, 128, 137, 0.288);
    font-family: cursive;
}
h3{
    position: absolute;top: 58%;left: 33%;
    font-family: "Azbuka W01 Heavy Condensed";
    font-size: 25px;
}
h4{
    position: absolute;top: 645px;left: 37%;
    text-align: center;
    font-family:"Azbuka W01 Heavy Condensed" ;
    font-size: 25px;
}
.p4{
 position: absolute;top: 690px;left: 0px;
 font-family: sans-serif;
}
.v1{
border-left: 1px solid rgb(99, 20, 79);
    height: 70px;
    position: absolute;
    left: 5px;
    margin-left: -3px;
    top: 275px;
    border-width: 2px;
}
.v2{
    border-left: 1px solid rgb(99, 20, 79);
        height: 70px;
        position: absolute;
        left: 5px;
        margin-left: -3px;
        top: 125px;
        border-width: 2px;
    }
 .v3{
    border-left: 1px solid rgb(99, 20, 79);
        height: 70px;
        position: absolute;
        left:523px;
        margin-left: -3px;
        top: 125px;
        border-width: 2px;
    }
 .v4{
    border-left: 1px solid rgb(99, 20, 79);
        height: 70px;
        position: absolute;
        left: 523px;
        margin-left: -3px;
        top: 275px;
        border-width: 2px;
    }
 .h1{
    border: 1px solid rgb(99, 20, 79);
        width: 70px;
        position: absolute;
        border-width: 1px;
        top:343px;
        left: 4px;
 }   
 .h2{
    border: 1px solid rgb(99, 20, 79);
        width: 70px;
        position: absolute;
        border-width: 1px;
        top: 125px;
        left: 4px;
    }
.h3{
border: 1px solid rgb(99, 20, 79);
    width: 70px;
    position: absolute;
    border-width: 1px;
    top: 125px;
    left: 450px;

}    
.h4{
    border: 1px solid rgb(99, 20, 79);
        width: 70px;
        position: absolute;
        border-width: 1px;
        top: 343px;
        left: 450px;
    }

.o1{

    border: 1px solid rgb(99, 20, 79);
        width:1000px;
        position: absolute;
        border-width: 1px;
        top: 10px;
        left: 0px;
        
    }
.o2{
    border: 1px solid rgb(99, 20, 79);
        width: 300px;
        position: absolute;
        border-width: 1px;
        top: 20px;
        left: 70%;
        
    }
.o3{
    border: 1px solid rgb(99, 20, 79);
        width: 300px;
        position: absolute;
        border-width: 1px;
        top: 20px;
        left: 0px;
    }
.o4{
    border: 1px solid rgb(99, 20, 79);
        width: 370px;
        position: absolute;
        border-width: 1px;
        top: 50px;
        left: 0px;
    }
.o5{
    border: 1px solid rgb(99, 20, 79);
        width: 370px;
        position: absolute;
        border-width: 1px;
        top: 50px;
        left: 63%;
    
    }

.p5 {
    position: absolute;
    top: 755px;
    left: 14px;
    border: 1px solid black;
    border-color: black;
    border-radius: 10px;
    border-style: groove;
    background-color: rgba(255, 228, 196, 0.719);
    font-family: cursive;
}
h5{
    position: absolute;top: 695px;left: 400px;
    font-family:"Azbuka W01 Heavy Condensed" ;
    font-size: 25px;
}
h6{
position:absolute;top: 832px;left: 400px;
font-family:"Azbuka W01 Heavy Condensed" ;
font-size: 25px;

}
.p6{
    position: absolute;top:905px ;left: 14px;
   font-family: cursive;
    border: 1px solid black;
    border-color: black;
    border-radius: 10px;
    background-color: rgba(255, 228, 196, 0.719);

}
.h7{
    position: absolute;top: 985px;left: 390px;
    font-family:"Azbuka W01 Heavy Condensed" ;
    font-size: 25px;
}
.p7{
    position: absolute;
        top: 1059px;
        left: 14px;
        font-family: cursive;
        border: 1px solid black;
        border-color: black;
        border-radius: 10px;
        background-color:rgba(255, 228, 196, 0.719);
}
 .h8{
    position: absolute;
        top: 1135px;
        left: 380px;
        font-family: "Azbuka W01 Heavy Condensed";
        font-size: 25px;
 }
.p8{
    position: absolute;
        top: 1209px;
        left: 14px;
        font-family: cursive;
        border: 1px solid black;
        border-color:black;
        border-radius: 10px;
        background-color:rgba(255, 228, 196, 0.719);
}
.h9{
    position: absolute;
        top: 1330px;
        left: 360px;
        font-family: "Azbuka W01 Heavy Condensed";
        font-size: 25px;
    }
.p9{
    position: absolute;
        top: 1410px;
        left: 14px;
        font-family: cursive;
        border: 1px solid black;
        border-color: black;
        border-radius: 10px;
        background-color: rgba(255, 228, 196, 0.719);
    }
.h10{
    position: absolute;
        top: 1485px;
        left: 400px;
        font-family: "Azbuka W01 Heavy Condensed";
        font-size: 25px;
}
.p10{
    position: absolute;
        top: 1555px;
        left: 14px;
        font-family: cursive;
        border: 1px solid black;
        border-color: black;
        border-radius: 10px;
        background-color: rgba(255, 228, 196, 0.719);
    }
.h11{
position: absolute;
    top: 1630px;
    left: 374px;
    font-family: "Azbuka W01 Heavy Condensed";
    font-size: 25px;

}    
.p11{
position: absolute;
    top: 1705px;
    left: 14px;
    font-family: cursive;
    border: 1px solid black;
    border-color: black;
    border-radius: 10px;
    background-color:rgba(255, 228, 196, 0.719) ;
}
